<header>    
    <header class="main-header">
        <ul class="main-header__item-list">
            <li class="main-header__item"><a class="<%= path === '/' ? 'active' : '' %>" href="/">Home</a></li>
            <li class="main-header__item"><a href="<%= path === '/users' ? 'active' : '' %>">Users</a></li>
        </ul>
    </nav>
</header>