<header>    
    <header class="main-header">
        <ul class="main-header__item-list">
            <li class="main-header__item"><a class="<%= path === '/' ? 'acitve' : '' %>" href="/">Home</a></li>
            <li class="main-header__item"><a  class="<%= path === '/users' ? 'acitve' : '' %>" href="/users">Users</a></li>
        </ul>
    </nav>
</header>