<%- include('includes/head.ejs') %>
</head>

<body>
    <%- include('includes/nav.ejs') %>

    <main>
        <% if (users.length > 0) { %>
        <div class="list">
            <ul class="user">            
                <% for (let user of users) { %>
                    <li> <%= user.username %> </li>
                <% } %>
            </ul>
            
        </div>
        <% } else { %>
            <h1>No Users Found!</h1>
        <% } %>
    </main>