<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Myth</title>
  <link rel="stylesheet" href="/css/main.css">
  <link rel="stylesheet" href="/css/cryptid.css">
</head>
<body>
  <header>
    <nav class="toolbar">
      <ul class="list">
        <li class="listItem"><a href="/cryptid">Cryptid</a></li>
        <li class="listItem"><a href="/">Human</a></li>
      </ul>
    </nav>
  </header>
  <main class="textBody">
    <h1>Welcome to the hide out</h1>
  </main>
</body>
</html>